h1{
    color: burlywood;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: beige;
    padding: 50px;
    border: 15px solid black;
}
spanId{
    font-size: 18px;
    margin: 50px;
}
body{
    background-image: url(https://st2.depositphotos.com/3840453/8071/i/600/depositphotos_80719620-stock-photo-empty-wooden-table-and-blurred.jpg);
    background-size: auto;
    display: block;
    text-align: center;
}